[2016-09-16 18:02] gvn opened #1 "`npm start` doesn't work for Node v6.6.0"
Getting an error after `npm i` and `npm start`:

[code]

[2016-09-16 18:02] gvn commented on #1
**Note:** This does currently work with Node v5.12.0, but should be fixed for the current version.

[2016-09-16 18:05] gvn opened #2 "Console error in browser"
After opening `http://localhost:3000/` I get the following error:

`Choropleth.js:61 Uncaught TypeError: Cannot read property 'feature' of undefined`

Browser: Chrome Version 53.0.2785.113 (64-bit) OSX

[2016-09-16 18:06] gvn opened #3 "Incorrect license"
License should be MPL 2.0 per [mofo-standards](https://github.com/MozillaFoundation/mofo-standards#license)

[2016-09-16 18:07] gvn opened #4 "Project needs documentation"
`README.md` is just boilerplate from Gulp Starter. It needs to be replaced with documentation specific to this project.

[2016-09-16 18:08] gvn opened #5 "package.json contains boilerplate metadata"
`package.json` contains boilerplate (eg: name, version, description, etc) that should be changed to properly reflect this specific project.

[2016-09-16 18:09] gvn opened #6 "devDeps vs. Deps"
Some dependencies are incorrectly listed in the manifest as `devDependencies`, such as jquery and d3.

[2016-09-16 18:10] gvn opened #7 "Unused dependencies should be removed from the manifest."
I suspect there are unused dependencies present in package.json. Please remove them if this is the case.

[2016-09-16 18:10] gvn opened #8 "Use external .env config"
`src/javascripts/modules/constants.js` contains hard coded `localhost`. An environment file should be used to represent environment specific variables.

[2016-09-20 09:20] peterlarkin commented on #3
@gvn How do we handle this if the boilerplate we're using has an MIT licence?

[2016-09-20 09:27] peterlarkin commented on #6
@gvn We're requiring jQuery and d3 from their npm modules in the development version of the JavaScript. In the build process, they're compiled into the `app.js` – so they're still technically `devDependecies` no?

[2016-09-20 09:29] peterlarkin commented on #7
The majority of these are provided by the boilerplate and are required for the gulp tasks. The project's still very early on so we'll come back to this and double check once it's settled down a bit.

[2016-09-20 09:41] peterlarkin commented on #8
@marcellegane I think we can just remove this and use relative URLs in the JS.

[2016-09-20 14:41] #1 closed, assigned to marcellegane

[2016-09-20 14:41] #2 closed, assigned to marcellegane

[2016-09-20 17:01] gvn commented on #3
The license covers the overall app, but not the dependencies, so you just indicate MPL in `package.json` and add it as a LICENSE file in the root.

[2016-09-20 17:56] gvn opened #10 "`npm test` fails"
Running `npm test` yields:

[code]

CC: @cadecairos

[2016-09-21 09:45] peterlarkin commented on #3
@gvn [Gulp Starter](https://github.com/vigetlabs/gulp-starter) comes with an MIT License in the root – do we not need to preserve this somehow? It's not an npm module, the majority of the Gulp set up is from this project. Apologies, just want to make sure we handle this in the correct way!

[2016-09-21 13:03] #10 closed, assigned to nobody

[2017-05-18 16:53] kristinashu opened #30 "Design website for health reports"
Design a small Wordpress website: Includes simple info pages, a blog, and link to the [prototype v0.1 report](https://internethealthreport.org/v01/). Design should reflect our new branding and is a sibling to the network site and mozilla.org

URL will be https://internethealthreport.org/

[See Full Design Brief](https://docs.google.com/a/mozilla.com/document/d/1p6eEeHNRmLGU4os82F9IRZxQDKoVp9GMDcK-

[2017-05-23 22:48] kristinashu commented on #30
Solana and I haven't been able to sync up yet but I wanted to move forward even though things might change once we chat.

Here's the IA and some initial wireframes to get the ball rolling https://redpen.io/p/zsc99c7d5045f3cc30 There are a bunch of questions in there, please add any thoughts or feedback!

Also [started a doc](https://docs.google.com/a/mozilla.com/document/d/13m7VdEtDs80rNn6_U07nPsn

[2017-05-25 22:40] kristinashu commented on #30
@Solanasaurus and I had our kick off today where she was able to answer a bunch of my questions and she will be working on copy next week.

I was thinking the first version for the home page wireframe was too similar to the blog so I've just added an updated version of it, which I think is looking better https://redpen.io/ju1ec4ae59a7e6a41c

I've also started to explore some different design direc

[2017-05-30 08:33] Solanasaurus commented on #30
Love the progress! I’ve scheduled some time to work on copy for the site tomorrow.

Thanks so much!

Solana

[2017-05-31 20:52] kristinashu commented on #30
I've added some design options to [Redpen](https://redpen.io/p/zsc99c7d5045f3cc30). There are 3 different top banner images but the rest of the content is the same. Please let me know if you prefer one direction over another and any other comments/feedback you have about the design!

[2017-06-01 22:54] kristinashu commented on #30
Thanks for the feedback! I've made a few more iterations and added designs for additional pages to [Redpen](https://redpen.io/p/zsc99c7d5045f3cc30).

[2017-06-07 16:00] kristinashu opened #31 "Implement health report landing site"
Based on design in [these comps](https://redpen.io/p/zsc99c7d5045f3cc30), done in #30.

Dates:
July 10 - QA
July 13 - Launch

Site will live on http://internethealthreport.org/ (URL will no longer redirect to https://internethealthreport.org/v01/)

### Pages include:
- **Home:** nav, hero banner, 2 feature boxes, blog features, newsletter signup, footer
- **Blog overview:** featured posts, categor

[2017-06-07 16:06] kristinashu opened #32 "Improve styling of hypothes.is plugin"
[hypothes.is plugin](https://web.hypothes.is/) is an annotation and note plugin used on [Report v0.1](https://internethealthreport.org/v01/)

We would like to continue to use it on our landing page and the next report but want to improve it's usability (current styling is not noticeable enough).

To do this we will:
- [ ] review current feedback and critique of the tool
- [ ] design an improved ve

[2017-06-07 19:44] kristinashu commented on #30
Thank you all for adding feedback in Redpen. I'll make those small updates tomorrow and then I will share the design with Yuliya for design review (although I have also been making updates based on design feedback from MoFo designers along the way).

I will open a separate ticket to focus on this, but I have made some initial design suggestions for the hypothes.is tool here https://redpen.io/og6a8

[2017-06-08 16:32] xmatthewx commented on #31
I think multi-site is critical for ease of maintenance. WP has simplified this set up in recent years.

[2017-06-08 19:47] Solanasaurus commented on #31
This list is fabulous!

Multi-site is already set up, so we're talking about a theme that would be entirely independent of https://internethealthreport.org/v01/

A thing to decide with developer is whether to modify an existing pro/commercial theme or develop something custom.

[2017-06-08 20:37] kristinashu opened #33 "Review report v0.1 analytics"
Review google analytics for http://internethealthreport.org/

@vojtechmzl and I will meet next week to look at site's metrics and see if there's any info that could influence the design of the new report.

@cadecairos can you please give me access to the analytics?

@samanthaburton @Solanasaurus have you done any previous work that would be relevant? Is there anything in particular you would be cu

[2017-06-08 21:21] cadecairos commented on #33
@kristinashu you should be able to read the data now

[2017-06-08 21:25] kristinashu commented on #33
Got it, thanks!

[2017-06-08 21:42] Solanasaurus commented on #33
Hi @kristinashu and @vojtechmzl here is the overview I prepared of the first month of stats, where we saw the bulk of our traffic and engagement, including numbers of comments, annotations, emails, etc. https://docs.google.com/spreadsheets/d/1y5bi5DZV92nRMdFYydgwOstihy-rb3hl4II_gOSDHPc/edit also this blog post on general feedback https://blog.mozilla.org/internetcitizen/2017/05/10/said-mozillas-in

[2017-06-08 22:42] kristinashu opened #34 "Customize style of hypothes.is plugin"
We would like to style the annotation/note plugin seen on https://internethealthreport.org/v01/open-innovation/ because the current styling is not noticeable enough.

### Design recommendations:
https://redpen.io/og6a82f5320eead856
- update highlight color and side panel color so they both have the same color, in order to correlate the two
- make sure the tool color is different than page's CTA co

[2017-06-13 17:32] kristinashu commented on #32
### Design recommendations:
https://redpen.io/og6a82f5320eead856
- update highlight color and side panel color so they both have the same color, in order to correlate the two
- make sure the tool color is different than page's CTA colors (e.g both highlight color and link underline color in v0.1 is yellow which is confusing)
- increase size and style of icons
- add copy below the title to point ou

[2017-06-13 17:34] kristinashu commented on #34
Closing this, it's pretty much a duplicate of #32

[2017-06-13 17:34] #34 closed, assigned to nobody

[2017-06-14 17:40] kristinashu commented on #30
I've been working through design feedback from Yuliya, mainly around aligning the site more with our new branding. I've added the updated screens along with some notes for dev to redpen https://redpen.io/p/zsc99c7d5045f3cc30. I like this undated version because it feels bolder but let me know what you think. I know there were concerns about the site looking too much like https://www.mozilla.org/en

[2017-06-14 23:12] mmmavis opened #35 "Remove old branch"
There are 2 branches on this repo now:

1. `master` (default branch)
2. `wp`

It seems like we are not really using the code in `master` so I'd suggest that either
- we remove the `master` branch and make `wp` default
- OR remove `master` and make `wp` the new `master` branch.

/cc @cadecairos (cc'ing you as I see you as the last person updated code in this repo 😉 )

[2017-06-15 23:49] kristinashu commented on #30
We talked about adding a new page to house the archived reports (in the future). Since we'll only have 1-2 reports for the next year or two, an entire page seems overkill. I've mocked up a new section at the bottom of the About page where we could put them https://redpen.io/ascf8656305dd9ff83 Let me know if that makes sense!

[2017-06-16 15:57] samanthaburton commented on #30
That works for me! Thanks!

On Thu, Jun 15, 2017 at 7:49 PM, Kristina <notifications@github.com> wrote:

--
Sam Burton
Director, Insights | Mozilla Foundation

*Cell: *+1 416.877.0710 | *Twitter:* @TheSamBurton
<http://twitter.com/thesamburton>* | Skype:* samantha.v.burton
Currently in Toronto, Canada

[2017-06-21 16:58] kristinashu commented on #30
[Design](https://redpen.io/p/zsc99c7d5045f3cc30) is done (but copy and images will change) and we have a launch date (July 10 - QA and July 14 - Launch)!

Solana will work on [copy](https://docs.google.com/a/mozilla.com/document/d/13m7VdEtDs80rNn6_U07nPsn4iN7zC3rBPvM6O1OkR8o/edit?usp=sharing) this week and she plans to have 3-4 blog posts ready for the QA date.

Things in the design that will be h

[2017-06-21 18:41] kristinashu commented on #31
Mike, Cade and I are meeting tomorrow so they can discuss setup and deployment.

@Solanasaurus could you please give Mike access to the relevant plugins?

[2017-06-21 18:46] kristinashu commented on #31
Or maybe not plugins, but for the Coral feedback form.

[2017-06-22 13:37] Solanasaurus commented on #31
Hi Kristina, the Coral feeback form is an embed. So other than the plugins that are already installed, we don't need anything else. I'm scheduling a meeting with Coral to rework the feedback form.

You might ask Cade about the Hypothes.is installation since I'm not sure how that works.

[2017-06-23 12:45] kaodro commented on #30
@kristinashu Yes, it is an embed, no plugin needed. If there will be any changes (we will talk to the Coral people soon), only the embed code will change so no changes for Mike's workload.

[2017-06-23 12:48] Solanasaurus commented on #33
Not sure you if guys worked on this yet, but Kasia and I are eager to hear what you would look at (or what you discover) since we will be preparing materials for Vizzuality soon.

cc @kaodro

[2017-06-23 18:08] kristinashu commented on #31
👏 Mike is in full swing building the site and Cade is working on setting up a new repo and staging environment for Mike https://github.com/MozillaFoundation/mofo-devops/issues/519

[2017-07-04 20:13] #30 closed, assigned to kristinashu

[2017-07-04 20:20] kristinashu opened #36 "Images for Indicators blog post"
@Solanasaurus will be preparing a blog post this week on the Indicators that were identified in the [crowdsourcing process](https://blog.mozilla.org/internetcitizen/2017/05/15/how-would-you-measure-the-health-of-the-internet/).

I will create an image for the post.

Please add a draft of the post here when you have it, then I can see what sort of graphic will work.

cc @kaodro

[2017-07-05 22:42] vojtechsedlak commented on #33
Hi @kristinashu, @kaodro, @Solanasaurus, here is a first [draft](https://docs.google.com/presentation/d/1C3m2RPr-jE6Y7QWMLPhbB7swzdPtDEh_Q1oEuTtZTkQ/edit#slide=id.g16df6e186e_1_0) of the analytics summary. I am still working on the following items, which I hope to add tomorrow.
- top stories (by language and traffic source)
- user engagement on social media
- feedback and comments

Please let me k

[2017-07-06 07:18] Solanasaurus commented on #33
You can't imagine how happy it makes me to see this! Thanks @vojtechmzl - I sent you all the info you need for feedback and comments counts in WP, Hypothes.is, emails and Coral Project.

Let's add PDF downloads. To get the current number we need to ask Chris. It was 58,000 after the first month. Maybe we should include a count of the news media articles too, since there were so many (will look for

[2017-07-06 14:03] samanthaburton commented on #33
This is so great to see coming together - thanks a million @vojtechmzl!!

This may be a bit out of scope, but could we also include press hits? The numbers as of Feb 21 are here: https://docs.google.com/spreadsheets/d/1IQcwaXkEuicTAO0AvAom64zh7Wwsnpps2pM2Q2NESX0/edit#gid=0 Maybe @kaodro you could reach out to Justin and/or Kevin to see if we have updated numbers?

[2017-07-06 14:20] kaodro commented on #33
Done, I will post here if I get anything new back. Update from Kevin: these are the latest numbers.

[2017-07-06 16:52] kristinashu commented on #33
This is fantastic, thank you so much @vojtechmzl!

[2017-07-07 13:31] kaodro opened #37 "Stories urls in the v01 do not load content"
Stories in the v01  do not load content  ("Page not found") although they are untouched in wordpress. All language versions are affected. Maybe the stories plugin is broken.

Examples:
[https://internethealthreport.org/v01/stories/people-powered-phones-within-range/](https://internethealthreport.org/v01/stories/people-powered-phones-within-range/)
[https://internethealthreport.org/v01/de/stories/y

[2017-07-07 13:51] cadecairos commented on #37
I'm taking a look at this now

[2017-07-07 14:09] cadecairos commented on #37
I don't know for sure, but it seems like the Advanced Custom Fields plugin we have installed (4.4.11) isn't working with Wordpress 4.8

I'm going to try upgrading us to ACF 5.x (I'll take a backup of the site first)

[2017-07-07 14:24] cadecairos commented on #37
Upgrading the plugin didn't help. I'm talking with WPEngine technical support now, since they're better at PHP+Wordpress than I am.

[2017-07-07 14:27] cadecairos commented on #37
@kaodro Looks like they just fixed it. You may need to clear cache and/or test with a private browsing window to see the posts.

[2017-07-07 14:38] kaodro commented on #37
Great, it works again, thanks so much for your superquick help!

[2017-07-07 14:38] #37 closed, assigned to nobody

[2017-07-07 14:41] cadecairos commented on #37
For future reference, this happened because an unknown event on the site (maybe a WordPress version update) caused all permalinks to get deleted.

The quick fix, according to WPEngine support is to go to the _Settings->Permalinks_ menu, and toggle the permalink structure to something different, save it, and then switch it back to the original structure. This will cause Wordpress to regenerate all

[2017-07-07 17:42] kristinashu commented on #36
Working with the title "And the Indicators are..." I'm going to try two different directions:
- award show angle: one open envelope with a note card being pulled out of it and then two closed envelopes with question marks on them
- people have spoken angle: lots of speech bubbles with relevant icons in them

I will do this on Mon/Tue next week.

[2017-07-10 09:36] Solanasaurus commented on #36
Sounds good for images, thank you! Maybe the speech bubbles are best, since envelopes sometimes connote emails? But maybe paired with the headline the award-angle will be clear!

Only other idea I have would be something like litmus-test colors or something inspired by the "talking heads" icons on the Consider.it platform.

[2017-07-10 23:12] kristinashu commented on #31
Site is up on [staging](https://healthreport.staging.wpengine.com/) and we are filing QA tickets in the [repo](https://github.com/mozilla/ihr-landing-site/issues).

[2017-07-10 23:12] #31 closed, assigned to nobody

[2017-07-21 22:46] #32 closed, assigned to kristinashu

[2017-07-24 18:06] kristinashu opened #38 "Report updates"
Based on https://github.com/MozillaFoundation/mofo-devops/issues/519

Once we launch the evergreen site, we will need to update v0.1 report with:
- change the word "About" to "Intro"
- remove [timeline](https://internethealthreport.org/v01/about/) and add a link to the [evergreen's "About" page](https://healthreport.staging.wpengine.com/about/)
- remove [Feedback page](https://internethealthreport

[2017-07-25 12:44] kaodro commented on #38
@kristinashu it looks like I can do all easily via admin; I can exclude feedback from top navigation and set it on "draft" status, I can change the name of "About" page and I can update its content/add links. Power to admins! :D

[2017-07-27 14:41] kaodro commented on #36
@kristinashu just a word of "warning": we will need this image in the beginning of next week as we might need to deliver it the emailing team to prepare the emailing mid-next week. We plan to launch and post the blogpost on Aug 9 and to do the emailing the same day.

[2017-07-27 20:16] kristinashu commented on #36
Thanks for the heads up, I'll give you the image tomorrow!

[2017-07-31 15:51] kaodro commented on #36
Hi @kristinashu we need the image in a format fitting for the blogpost and for the email (square), here is an example of how it will look in the email: https://bug1379679.bmoattachments.org/attachment.cgi?id=8884996
We need the image ideally by tomorrow (Aug 1) and at latest by Wed (Aug 2) cause it needs to be submitted for approval together with the email.  Thanks!

[2017-07-31 17:06] kristinashu commented on #36
Ok, do you want any text or button like in the example? Or is just a graphic ok?

[2017-07-31 18:03] kristinashu commented on #36
Here it is as just a graphic:
![email-ihr-indicators](https://user-images.githubusercontent.com/1068783/28791016-e25a3afe-75df-11e7-8fa3-7e38ffa9721f.png)

[2017-08-01 13:39] kaodro commented on #36
@kristinashu please add the following text:
Image text: Internet Health Report 2018 – See the Indicators
The link will lead to the blogpost on the new website. We will have to translate this text into FR, ES and DE and it's possible that I will have to ask you to add these 3 versions to the graphic by the end of the week.

For the blogpost graphic we want this one but without any text or buttons.

[2017-08-02 00:04] kristinashu commented on #36
Ok, here is the image of the email and I will work on the blog post image next.

![ihr-blog-02](https://user-images.githubusercontent.com/1068783/28852082-77a0980a-76db-11e7-9274-707053ea2938.png)

[2017-08-02 09:50] kaodro commented on #36
Looks good, thanks! We liked the other colors better but if you think they somehow clash with the text, we are also ok with this one. Thanks!

[2017-08-02 18:10] kristinashu commented on #36
How about these colors?
<img width="1201" alt="ihr-blog" src="https://user-images.githubusercontent.com/1068783/28887723-178ee104-7773-11e7-8118-b4a1d8c6b553.png">
![ihr-email](https://user-images.githubusercontent.com/1068783/28887724-1790f2dc-7773-11e7-890a-dd5c083a47b9.png)

[2017-08-03 07:57] kaodro commented on #36
Great, we like these colors better, thanks!

[2017-08-04 09:51] kaodro commented on #36
@kristinashu will you send me the images in a better quality so I can forward them to Jessilyn for the emailing? Or this is the final version?

[2017-08-04 16:19] TheoChevalier commented on #36
Hi,
Here are the French and German translations:

DE: `Statusbericht zur Internetgesundheit 2018 – Die Indikatoren`
FR: `Bulletin de santé d’Internet 2018 — Voici les indicateurs`
ES:  `Informe de Salud de Internet 2018 – Ver los Indicadores`

[2017-08-04 19:56] kristinashu commented on #36
@kaodro the square image should be the right resolution for the email (it will appear at smaller dimension in the email than it is in github right now).

@TheoChevalier thanks for the translations! Do these look correct?
![ihr-email-de](https://user-images.githubusercontent.com/1068783/28984714-2d0ee874-7914-11e7-8b24-0375e04150fe.png)
![ihr-email-fr](https://user-images.githubusercontent.com/1068

[2017-08-04 20:04] kaodro commented on #36
@kristinashu looks good! I added the Spanish one:

`Informe de Salud de Internet 2018 – Ver los Indicadores`

I see these ones have a bit different colors, is there a reason for it? If not, I think it might be good to keep them the similar.

[2017-08-04 20:09] TheoChevalier commented on #36
+1, looks good :) Thanks Kristina

[2017-08-04 20:21] kristinashu commented on #36
Excellent, here's Spanish:
![ihr-email-es](https://user-images.githubusercontent.com/1068783/28985505-c5b2897a-7917-11e7-8b28-23846ded1777.png)

[2017-08-04 20:25] kaodro commented on #36
@kristinashu my apologies but I changed the text after Solana's feedback (we had two versions). The final version is` Informe de Salud de Internet 2018 – Ver los Indicadores`
Sorry you have to do it again! What about the different colors? Thanks again!

[2017-08-04 20:37] kristinashu commented on #36
Ooops, I copies the wrong color version. Here are the images with updated ES text and color:
![ihr-email-de](https://user-images.githubusercontent.com/1068783/28985954-cc3b4640-7919-11e7-8a99-d30a2e86122b.png)
![ihr-email-es](https://user-images.githubusercontent.com/1068783/28985955-cc40a644-7919-11e7-8da1-d6532ff64476.png)
![ihr-email-fr](https://user-images.githubusercontent.com/1068783/2898595

[2017-08-08 17:19] #36 closed, assigned to kristinashu

[2017-08-08 19:20] kaodro commented on #36
I have one more ask if you find the time: for an alternative version of the email we would like to try another image size (banner type), like this ( (1200px wide x 660px high):  https://bug1382877.bmoattachments.org/attachment.cgi?id=8890567 (109kB)
A version with and without the text.
Thanks, @kristinashu !

[2017-08-08 22:39] kristinashu commented on #36
Here you go!

![ihr-email-no-text](https://user-images.githubusercontent.com/1068783/29097628-b23804ac-7c4f-11e7-8b7d-2983b35aeb62.png)
![ihr-email-text](https://user-images.githubusercontent.com/1068783/29097627-b2366264-7c4f-11e7-9463-c4f4f5ba7e15.png)

[2017-08-09 08:46] kaodro commented on #36
Awesome, thank you!

[2017-10-05 14:45] kaodro opened #39 "Image for IHR blog post on project progress - user survey results focus"
@kristinashu We need a regular blog post image (similar aesthetic to the previous ones) that would illustrate a blog post on our progress towards the next report. We will focus on our insights from user research (survey and 1:1 interviews) so an image around "what people want, what people said" etc. would be cool but feel free to come up with anything creative you think fits.

We need it by Friday

[2017-10-05 15:02] kaodro opened #40 "Mozfest IHR Research Hub banner design (6 banners + 4 pointer posters)"
@kristinashu
Here is our plan for Mozfest: [Internet Research Hub](https://github.com/MozillaFoundation/mozfest-program-2017/issues/618#issuecomment-327451193
)
We need to design:

- 2 banners with
1) facts around Internet Health
2) explanation what the Internet Health Report

- 2 banners  with
1) with template schedules for recommended research-related sessions from Mozfest (empty schedule: space

[2017-10-09 15:03] kaodro opened #41 "Image for the Internet Research Hub blogpost (Mozfest logo + dinosaur)"
Dear @kristinashu ,

We need an image for our blog post about Mozfest. It can be something simple: a mix of the logo:
https://drive.google.com/a/mozilla.com/file/d/0B4gJTycPp_1LVl9OX0tlNXNPajQyYXQxVGJ1WjBEQzlGcWtv/view?usp=sharing

with one of the following Mozfest images from 2016:

https://www.flickr.com/photos/biglesp/30568637832/in/photolist-Ni4bAo-MVas7Y-MURq7F-NKcg4a-MURnP4-NzfhAU-Nzfhk3-NKA

[2017-10-09 15:14] kaodro commented on #39
An update for @kristinashu

Could you prepare this image in 2 formats:
- usual blogpost banner
- image for emailing, hero template (https://drive.google.com/file/d/0Bzf0O6d7z8GGYXNteVV4SUhzUzQ/view)

Temporary title for the blog post "How we’re structuring the next Internet Health Report" - might give you additional ideas for the image. We will be talking about the insights from the user research,

[2017-10-09 16:47] kaodro opened #42 "Create a wordpress subfolder for Internethealthreport.org/2018 and give access to Vizzuality devs"
Hi @cadecairos , we would like to create a wordpress instance for the upcoming Report so that Vizzuality developers can start getting familiar with it (the coding is about to start in November).

Could you do it and add the following emails with full developer rights:
David.Inga@vizzuality.com (developer)
Clement.Prodhomme@vizzuality.com (developer)
and
Clara.Linos@vizzuality.com (project manager,

[2017-10-11 18:15] cadecairos commented on #42
@kaodro Will the report eventually end up on the main Internet Health Report WordPress instance?

It might make more sense to create a new "site" there and use that. We should be able to secure it from the public during development.

[2017-10-11 18:47] kaodro commented on #42
You are right, I think we want a subfolder on the same instance, does that make sense to you? Thanks!
We want a new site and we want to secure it from the public during development. The site will have a whole new design and it will be developed by Vizzuality.

[2017-10-11 19:45] cadecairos commented on #42
@kaodro what subfolder should we use? `/v02`?

[2017-10-11 20:27] kristinashu commented on #40
Hey, @kaodro when will you have copy for this?

[2017-10-11 20:28] kristinashu commented on #39
Thanks @kaodro! Do you have a draft of this blog post that I could see?

[2017-10-11 20:34] kaodro commented on #42
the url should be Internethealthreport.org/2018 so maybe it makes sense to call the subfolder like that, too (/2018)

[2017-10-11 20:36] kaodro commented on #40
Will try on Friday or Monday latest but feel free to suggest copy if you have any ideas or use lorem ipsum. Banner 3,4,5 are more or less ready (just schedule templates and big letters banner - you can shape them as you see fit).

[2017-10-11 20:37] kaodro commented on #39
We are planning to have a draft tomorrow.

[2017-10-12 16:43] kristinashu commented on #41
@kaodro to make it more official looking I've used the MozFest 2017 branding.

Here is a version without text for the blog:
![ihr-mozfest-blog](https://user-images.githubusercontent.com/1068783/31507919-490109e2-af31-11e7-9476-80e49b544e39.png)

Also another version with text for social media, in case you need it:
![ihr-mozfest-text](https://user-images.githubusercontent.com/1068783/31508063-c2ff1

[2017-10-12 18:21] kristinashu commented on #39
@kaodro I'm wonder if it should be about (A) the title "How we’re structuring the next Internet Health Report" so about "planning and structure" or (B) about "what people want, what people said" so about "users and feedback"?

[2017-10-12 22:38] kristinashu commented on #40
@kaodro here's an example of the design direction I'll be doing. It combines branding from both IH and MozFest. I'm not too sure about sizing though, do you have a sense of the space and how much room we will have? I'm thinking each banner would be A2?

(ignore the gray background)
<img width="830" alt="screen shot 2017-10-12 at 3 35 13 pm" src="https://user-images.githubusercontent.com/1068783/31

[2017-10-13 16:13] kaodro commented on #41
Hi Kristina,

Cool! Looks very nice. Would it be also possible to do one version with a small coffee and cookie part (we will hold a "Research and coffee grinder" at the beginning of the festival) and one with a little dinosaur? I know it might sound silly but it fits to our plans at mozfest and I couls use it to illustrate our sessions in the Mozfest program. Thanks so much!

The images for the M

[2017-10-13 16:18] kaodro commented on #39
Hi Kristina,
I have the blogpost ready, I will share the doc with you now, you can have a look what it is about. It is more "How we are structuring the next report" and that it is based on what people said. Link coming your way now.

[2017-10-13 17:51] kaodro commented on #40
I requested the size of the dividing walls where we will hang them, will update as soon as I get an answer. As for the printers I forwarded you an Email from Esme Simcox with the sizes that can be printed on the printers. Regarding the designs: nice and clean. We will maybe want to reuse the banners for other events so we should avoid any clear Mozfest branding but colors are OK. I will get you th

[2017-10-13 20:55] kristinashu commented on #39
Excellent, thanks! Here's the image. It should work for both the blog and email.

![ihr-structure](https://user-images.githubusercontent.com/1068783/31566043-d396260e-b01d-11e7-84ae-0754ed34f010.png)

[2017-10-16 10:03] kaodro commented on #39
Thank you! It is nice minimalistic. We were just wondering here if you could make the shapes maybe look a bit less "Clippy"-like? It reminded us of these times. But if you have no time for that, it's OK like this! Thanks!

[2017-10-16 18:58] kristinashu commented on #39
Haha ok, how about this?

![ihr-socialmedia-02](https://user-images.githubusercontent.com/1068783/31629699-42917b56-b269-11e7-99cb-97656eab38c1.png)

[2017-10-16 19:09] kristinashu commented on #41
I'm confused about which which visuals and sizes you need? Do you need blog post size + MozFest guidebook size for both Research and coffee grinder + something with the Dinosaur?

[2017-10-16 20:21] kaodro commented on #41
Yes, both of them are for the Mozfest guidebook - dinasaur and coffee. The one above is for the blogpost. If the dinosaur one will be great, you can also do it in the blogpost size:) Thanks!

[2017-10-17 10:15] kaodro commented on #39
We take it!

[2017-10-17 15:19] kristinashu commented on #39
Excellent!

[2017-10-17 15:19] #39 closed, assigned to kristinashu

[2017-10-17 15:47] kaodro commented on #42
hey @cadecairos any news here? Do you need more info?

[2017-10-17 16:07] kaodro commented on #40
@kristinashu Still waiting for the size but in the meantime, I updated the doc with some copy and added one more banner ("Filling research gaps"). Still missing: "Data points pointing people to the Hub" and "Internet Health Facts", will try to provide the copy tomorrow.

[2017-10-17 16:39] cadecairos commented on #42
Hi @kaodro -  the one blocker I have is finding a way to password protect just a single site on a multi-site instance.

If it's not a huge deal, we could easily add the site without a password block , and as long as it's not linked to anywhere on the web, it won't be indexed by web crawlers.

[2017-10-17 16:47] kristinashu commented on #41
Here are the coffee and dino images at 640 x 240px:

<img width="641" alt="ihr-mozfest-coffee" src="https://user-images.githubusercontent.com/1068783/31677448-ae751524-b31f-11e7-8c10-a640e312f3c3.png">
<img width="641" alt="ihr-mozfest-dino" src="https://user-images.githubusercontent.com/1068783/31677449-ae95a514-b31f-11e7-90a6-00151e5b0b3e.png">

And here's another generic IH hub image that is a

[2017-10-17 17:00] kristinashu commented on #40
Ok thanks!

[2017-10-17 17:10] #33 closed, assigned to kristinashu, vojtechsedlak

[2017-10-17 17:55] kristinashu commented on #40
We are up to over 6 banners now. This are a lot of banners! MozFest is very hectic and overwhelming with posters, people and events happening everywhere. We can't expect people to read and participate with all these banners. Can you prioritize them and get rid of a couple? Maybe we can remove "Internet Research Hub Recommends"?

[2017-10-17 18:54] kaodro commented on #40
I know this is a lot. The thing is that we want to re-use these for other events where we might use the same concept and choose the banners that fit best (so you are kind of preparing a universal set).

We need to keep the recommendations cause they are part of the Hub original concept but if I have to prioritize I would de-prioritize "Facts about Internet Health" and "Research gaps" (I can use a

[2017-10-17 20:04] kaodro commented on #41
Wonderful, love the t-rex! One last (not essential) ask: can you add the phrase "Internet Research Hub" to the banners with dinos and coffee?It will help us establish the name of the Hub if people see it above the session. Thanks a million!

[2017-10-18 12:01] kaodro commented on #42
@cadecairos sorry if I'm confusing things but would it be an option for them to build on staging, like the previous report, and then transfer it to the proper site once ready? Would that help the password protection issue? Thanks for patience answering all these questions.

[2017-10-18 12:57] cadecairos commented on #42
We could use staging - but it won't be easy to transfer things over to the production site. Multi-site installs don't work well with staging.

[2017-10-18 18:11] kristinashu commented on #41
Here you go!

<img width="641" alt="ihr-mozfest-coffee2" src="https://user-images.githubusercontent.com/1068783/31734908-0a598804-b3f5-11e7-90e2-0e4aecdf6ba0.png">
<img width="641" alt="ihr-mozfest-dino2" src="https://user-images.githubusercontent.com/1068783/31734910-0aade0b6-b3f5-11e7-9059-dfb7db1734b0.png">

[2017-10-18 18:23] #41 closed, assigned to kristinashu

[2017-10-18 18:25] kaodro commented on #42
@cadecairos I talked with the team and they confirmed my feeling: we need to password protect the site while it's being built. So whether we need to find a solution for the site or create a staging version.

[2017-10-18 21:18] cadecairos commented on #42
@kaodro so, I've found a plugin for Wordpress that will let us password protect a site on the network. It's going to cost $50 a month to use it though - is that alright? I can cancel it after we launch too, since it's month-to-month.

[2017-10-19 11:00] kaodro commented on #42
@cadecairos that sounds like an expense we could afford. I will bring in the developer from Vizzuality into this discussion so he can say what he prefers given the risks (staging or this solution). Thanks for checking!

[2017-10-19 11:54] kaodro commented on #40
@kristinashu I have now the size for the dividing walls we will hang the banners onto. A bit bigger than 2m high and 1m 50cm width.
![img_4483](https://user-images.githubusercontent.com/22129061/31768991-070a37e2-b4d2-11e7-8f08-6f626c3e4a0f.JPG) As for what the printer can print you have the email (pretty confusing one) but when looking at the prints from last year, it looks like they fit these di

[2017-10-20 15:41] davidsingal commented on #42
Hi! @cadecairos I've just tested this [plugin](https://es.wordpress.org/plugins/wp-basic-auth/). It adds a basic auth authentication for the site. It should be enough to protect the site. What do you think?

[2017-10-20 16:48] cadecairos commented on #42
@davidsingal is that plugin compatible with multi-site installs? We don't want to block the landing site or v01 report.

[2017-10-20 18:01] davidsingal commented on #42
@cadecairos let me check it in a multisite demo page. I will let you know the result.

[2017-10-20 18:17] davidsingal commented on #42
@cadecairos do you know if we are using apache? I'm thinking we could put basic auth in a specific directory using `.htaccess`. If we are using NGINX, we can add this rule in the config file. What do you think? Could it work?

[2017-10-20 18:43] cadecairos commented on #42
I'm not sure what WPEngine uses to host WP installs on their infrastructure - but I think there is a `.htaccess` file in the webroot of each WP install, which means they're probably using Apache at some stage.

[2017-10-23 19:02] kristinashu commented on #40
Here are the banners: [IHR-mozfest-banners-02.pdf](https://github.com/mozilla/internet-health-report/files/1408455/IHR-mozfest-banners-02.pdf)

I'm not sure about the dimensions but it will be quick and easy to scale them once we are at the venue. We can measure the board and do some quick adjustments. I would also love to test print one of them and adjust font sizes accordingly.

[2017-10-23 19:12] kaodro commented on #40
Wow, they look really nice, thanks so much! I am sorry to bug you again but we made small but important adjustments to the copy today, could you correct it in the banners?
- changed some wording in the IH facts banner and removed the fact about Facebook (very important)
- changed www. in the url into https:// everywhere
- changed wording in the balcony banner (is not part of the pdf)
- re-worded "

[2017-10-24 16:06] kristinashu commented on #40
No worries. Could you please check these?
[IHR-MozFest-banners-02.pdf](https://github.com/mozilla/internet-health-report/files/1411543/IHR-MozFest-banners-02.pdf)
[IHR-MozFest-posters-02.pdf](https://github.com/mozilla/internet-health-report/files/1411544/IHR-MozFest-posters-02.pdf)
[IHR-MozFest-sign-02.pdf](https://github.com/mozilla/internet-health-report/files/1411545/IHR-MozFest-sign-02.pdf)

[2017-10-24 18:51] kaodro commented on #40
Hey Kristina, thanks again! Let's keep in touch, I was planning the printing for Friday morning and have all the coordinates about the print shop etc from the student. I have your number and will text you on Signal, Telegram or Whatsapp:)

I checked the banners and noticed that there is a typo in the "publication about what hurting and what’s helping the Internet." it misses an "s". Should be "pub

[2017-10-26 09:56] kristinashu commented on #40
All updated!
[IHR-MozFest-banners-03.pdf](https://github.com/mozilla/internet-health-report/files/1417775/IHR-MozFest-banners-03.pdf)
[IHR-MozFest-posters-03.pdf](https://github.com/mozilla/internet-health-report/files/1417776/IHR-MozFest-posters-03.pdf)
[IHR-MozFest-sign-03.pdf](https://github.com/mozilla/internet-health-report/files/1417777/IHR-MozFest-sign-03.pdf)

[2017-10-27 14:11] #40 closed, assigned to kristinashu

[2017-10-28 13:55] kristinashu commented on #40
Here are the final files we printed (re-sized)
[A0-banners.pdf](https://github.com/mozilla/internet-health-report/files/1424292/A0-banners.pdf)
[A3-posters.pdf](https://github.com/mozilla/internet-health-report/files/1424293/A3-posters.pdf)

[2017-11-03 11:04] kaodro commented on #42
Hello all @cadecairos @davidsingal we need to keep moving forward here - we agreed with Vizzuality that the development of the site will start asap. Do you need any more information to set up the site?

[2017-11-03 15:13] cadecairos commented on #42
@kaodro @davidsingal I dug into this and was able to set up basic auth for a new subsite.

https://internethealthreport.org/2018/ is ready for development.

In order to grant access, I'll need a list of users to generate passwords for, and we'll need a end-to-end encrypted means of transferring the credentials. I'm open to using something like Signal or Telegram.

[2017-11-06 11:17] kaodro commented on #42
Fantastic, thank you!
I will send you an email with a list, phone numbers and preferred channel of encrypted communication (Signal/Telegram (mind you, it is not encrypted by default but I'm sure you know it?)/do you use Wire?).  Thanks, again.

[2017-12-01 15:15] santostiago commented on #42
Hi @cadecairos. I was trying to set up the WP site but I don't seem to have access to do it.
The credentials you sent me allow me to view the current website in WP, but not to access the admin console nor to upload the files needed to set up the backoffice.
Can you please give me permissions to do that or suggest another way to do it?
Thank you

[2017-12-05 14:01] kaodro commented on #42
@cadecairos can you help Tiago? Vizzuality needs to start the work asap. Thanks for clarifying this issue so they can move forward

[2017-12-13 10:10] santostiago commented on #42
Hi @cadecairos I've managed to log in into the wp-admin after you gave me permissions to do so, but I still lack permissions to install plugins and to upload themes. Could you please give me permissions to do so?
Thank you

[2017-12-13 13:55] cadecairos commented on #42
@santostiago I've granted you permissions that will let you install plugins and themes via the "network" admin dashboard. From there you'll be able to enable them on the 2018 sub site.

[2017-12-13 14:38] santostiago commented on #42
@cadecairos ok, thank you. I'm going to test it now!

[2017-12-13 15:45] santostiago commented on #42
@cadecairos it's working perfectly. Thank you.

[2018-01-03 15:45] kaodro opened #44 "Different styles on the site in different locations after update (server problem?)"
Hi @cadecairos , happy New Year!

Vizzuality is updating the design of the wordpress website and they came across a strange issue that I copy pasted below. The ask to you is to doublecheck if there is any issue on the server side that might be causing the problem:

"The issue is that we are getting different styles from Madrid office and from Porto office. From Madrid office I'm seeing some old st

[2018-01-25 13:45] dhakelila commented on #42
Hi @cadecairos, I'm Clara, from Vizzuality.
We'd need to install a plugin on the new Internet Health Report 2018 and it seems we don't have permissions for that.

Could you give me access or install this plugin for me, please?
https://wordpress.org/plugins/tinymce-advanced/

If you install it, let me know as I need to do a very quick configuration as well.
Or if you prefer to do it yourself, it is

[2018-01-25 14:08] dhakelila commented on #42
Hi @cadecairos, ignore my previous message. I reached Tiago and he told me how to do it.
I was looking at the wrong place.

Not used to multisite configurations!

[2018-01-25 14:38] cadecairos commented on #42
Glad you've got it sorted out!

[2018-01-26 09:23] santostiago commented on #42
Hi @cadecairos. We've been experiencing some issues when uploading new versions of the theme, as sometimes the old versions are still being displayed. This happens more often when no new files are added and we just modified some old ones.

When requesting the webpage, the old files are the ones sent. I checked that WP has no active cache plugin for the current project (HTTP Headers is deactivated)

[2018-01-29 12:00] dhakelila commented on #42
Hi @cadecairos, could you have a look at the issue Tiago is flagging?

The problem is that we can not show progress as the site seems not update when we upload the changes.

[2018-01-29 14:52] cadecairos commented on #42
Hi, There are multiple levels of caching on the site. I've turned on a setting that should enable Administrators (@kaodro and Solana) to see the WPEngine control panel in WordPress.

@kaodro, you can purge the cached site data using the button labelled "Purge All Caches" which can be found by clicking the "WP Engine" dashboard button, which is shown below:

![](https://screenshotscdn.firefoxuserco

[2018-01-29 15:13] kaodro commented on #42
thanks, @cadecairos . @dhakelila let me know if it works now and for the future, I will know how to purge the cache, if needed.

[2018-01-29 15:20] dhakelila commented on #42
Thank you! Those are really good news!

And btw, changes are working. Maybe I'd add a bit more of space between paragraphs, but is working.

[2018-02-09 14:14] santostiago commented on #42
Hi @cadecairos! In order to have the talk plugin to work, we need the talk server running and I need to know the url to connect to it. Is that something you can do?
Thank you

[2018-02-10 02:47] cadecairos commented on #42
@santostiago You can embed this snippet on pages where we want Talk:

[code]

@kaodro who's going to be responsible for administering the conversation? We should get them an account on our Talk instance.

[2018-02-12 11:08] kaodro commented on #42
@cadecairos it will be me, Solana and a bunch of volunteers we are recruiting now (don't know their names yet). Which information do you need: email and phone numbers + encrypted msg again? thanks!

[2018-02-12 13:39] cadecairos commented on #42
You should all be able to sign up via the comments form, and I can promote people to moderators internally.

[2018-02-14 22:05] kaodro opened #45 "Re-size images for the IHR 2018"
Hi @beccaklam, please re-size the issues to fit the guidelines (attached) and to fit the upload limit of 1MB.
[IMAGES folder,](https://drive.google.com/drive/folders/1fFkbd6S8s0AVoTznCSWCsxMH_iKkygpJ)
You can ignore the subfolders called "not selected". In case of the [fake news game images](https://drive.google.com/drive/folders/1I2fHZbSw_60VDWw5-m0VyLtOlcXw6XXF), please combine the logo with the

[2018-02-16 15:28] beccaklam commented on #45
Hi @kaodro, I've dropped in the resized images back into their original google drive folders save for three images that I really think we should get new images for. The quality for these images is too low and I think it would bring down the quality of the website. I've found alternative photos for each of these authors, would you be able to go about seeing if we could get their permission to use t

[2018-02-16 15:52] beccaklam commented on #45
@kaodro Also, I only sized for 1x but to optimize for retina screens you usually need @2x images. Can you ask the design agency if they need @2x images?

[2018-02-16 15:55] kaodro commented on #45
I will. As for the images, the one of Amy is the same so just go ahead and grab it. The other two I will have to ask. Thanks so much! @beccaklam

[2018-02-16 18:24] kaodro commented on #45
@beccaklam You can also use the picture of Nathan, same photographer and license. Just remove the old one from the folder. Thaanks!

[2018-02-16 19:22] beccaklam commented on #45
thanks @kaodro ! I've updated both Ame and Nathan's google drive folders with the new images.

[2018-02-19 10:45] kaodro opened #46 "Clarify adding the subscribe box to the IHR 2018 website"
Hi @cadecairos and @santostiago cc/@dhakelila

We need to add the subscribe box to the website as depicted in the design prototype (https://projects.invisionapp.com/share/9XEIUP73P#/screens/265255492) in two spots: at the bottom of the page and in the Participate section at the top.  The box needs to comply with the legal requirements. We can replicate the structure of the box from https://interne

[2018-02-19 14:32] santostiago commented on #42
@cadecairos Hi Christopher, in order to deactivate the reactions plugin for all sites except for the 2018 one, I'd like to know the id of the 2018 site. (Otherwise, we'd have to install a plugin to manage this, and it's better to avoid it).

[2018-02-19 18:25] santostiago commented on #46
@kaodro what would you like to happen when they subscribe? Do you have a place to manage the subscriptions (like mailchimp or similar)? Should they be added to a list?

[2018-02-20 12:00] kaodro commented on #46
@santostiago Mozilla has an Email team that manages also our IHR subscriptions through their database (they use salesforce and we have a "bucket" in their subscribers database). There should be a piece of code you can use for that and simply add it to the website. It is the same as on internethealthreport.org so you can have a look how it is solved there. Then you can change the CSS to match the d

[2018-02-20 12:23] santostiago commented on #46
Hi @kaodro! Thanks for the reply.
I can't see the setup of the subscription box in internethealthreport.org, so I'd need the help of @cadecairos to know how to integrate it.

[2018-02-21 17:12] dhakelila commented on #42
Hi @cadecairos, can you take a look at Tiago's comment? We need the id for the 2018 site.
Thanks!

[2018-02-21 17:45] cadecairos commented on #42
@santostiago The 2018 sub-site has the id `6`

[2018-02-22 10:21] kaodro commented on #45
@beccaklam I think we need to use Margerete low-resolution pict, she didn't answer so far.  Meanhwile there is a new one to re-size (just one): https://drive.google.com/drive/u/0/folders/1TbqUj8hsBXcoOJfDjypW5TxuMsBDAcNW
Thank you!

[2018-02-22 11:12] santostiago commented on #42
Thank you @cadecairos

[2018-02-22 17:25] kaodro commented on #45
Dear Becca, one more to re-size was added: it is in the "In Brazil, the bot in public interest" folder in the images folder. Thank you!

[2018-02-22 18:18] beccaklam commented on #45
@kaodro Done ✅ :)

[2018-02-23 09:57] santostiago commented on #46
Hi @kaodro @cadecairos. Any news on this subject?

[2018-02-23 10:14] santostiago opened #47 "PDF downloading"
Hi @kaodro and @cadecairos. In order to put the download pdf links for each of the languages, we need to know where they're hosted. Would you please tell me where that is?
Thank you!

[2018-02-23 11:48] kaodro commented on #45
@beccaklam Margerte sent the same image we had but in better quality (1,4MB), I guess that would work, right? Could you resize and ping me here? Thank you!

[2018-02-23 14:35] beccaklam commented on #45
@kaodro Oh this image is *so* much better! Resized ✅ and in the google drive folder!

[2018-02-23 17:13] cadecairos commented on #47
I've uploaded placeholder PDFs (the v01 report) to the following URLs:

[https://d20x8vt12bnfa2.cloudfront.net/2018/Internet Health Report 2018.pdf](https://d20x8vt12bnfa2.cloudfront.net/2018/Internet%20Health%20Report%202018.pdf)
[https://d20x8vt12bnfa2.cloudfront.net/2018/Statusbericht zur Internetgesundheit 2018.pdf](https://d20x8vt12bnfa2.cloudfront.net/2018/Statusbericht%20zur%20Internetgesun

[2018-02-23 17:14] cadecairos commented on #47
(will be translating the filenames, hold off on using those links)

[2018-02-27 14:20] cadecairos commented on #46
@santostiago On the bottom of the internethealthreport.org page, in the footer, is the subscription form. I've pulled out the HTML and stripped the classes to share it here:

[code]

@kaodro I'm presuming the newsletter name is still the same as last time?

[2018-02-27 14:40] cadecairos commented on #46
Just want to note that the newsletter's hidden `lang` input should reflect the language of the page being viewed.

[2018-02-27 14:53] kaodro commented on #45
Hi @beccaklam we have 3 more images to re-size, if you could have a look:

Nathan J. Mathias (a new, better one): https://drive.google.com/drive/folders/1epTuxFuV_fzcjUn0cTKUsZ3g6OplKx1s
Meredith Whihttaker: https://drive.google.com/drive/folders/1qLWjDwGBJnIAMNfe56J45CT2pJzwXAHk
Michael Henretty (a new, better one):  https://drive.google.com/drive/folders/1Nx1Hzx_gNqicS2aTATYEMNWgGNkGlqIv

Thank

[2018-02-28 16:27] arlissc opened #48 "Google Analytics on Internet Health Report 2018 website"
### Details
This is a starting point to initiate the work need to gather analytics from the new site.

### Info & links

Fm Vizzuality:  list of analytics events that will be tracked - https://docs.google.com/spreadsheets/d/1Ckdic9tkLdrxf1RCYshe0yUh3TdDePHS5Hw0FJf1qQI/edit#gid=0

Other supporting docs:  [Metrics](https://docs.google.com/document/d/1X65eO3FTiVpaYze9-BfhAaqfNA84vEArX2aL-ChlY4U/edit)

[2018-02-28 18:14] beccaklam commented on #45
✅ all done! @kaodro

[2018-03-01 12:00] kaodro commented on #45
I am sorry but there is another one... here: https://drive.google.com/drive/folders/1_caPaiIA3KuIHn5L6f427VxV7wutQz81
thank you again @beccaklam

[2018-03-01 14:55] beccaklam commented on #45
Hi @kaodro is there a higher quality or just larger version of this image? It's quite small so enlarging it to fit the sizes we have is making it super blurry.

[2018-03-01 15:18] kaodro commented on #45
Unfortunately this is all we've got (it is from this post_ https://cira.ca/sites/default/files/public/mozilla-embed-in-blog_0.png)

[2018-03-01 16:37] beccaklam commented on #45
Didn't we have another image for this post? Sorry, the quality is just quite bad and I would say not to use it if you can avoid it.

[2018-03-01 18:47] kaodro opened #49 "Install the Talk "moderate via Slack" plugin"
Hi @cadecairos Andrew recommended installing the 'moderate via Slack' plugin for Talk. Right now it seems to me that we can only see the comments in Slack? Correct me if I'm wrong.

To set that up, you need to activate the plugin on our side (you need to add it to our configuration) and then someone with Slack admin access needs to talk to Talk (Andrew) so they can add the Slack Token key to the s

[2018-03-01 19:03] cadecairos commented on #49
This plugin doesn't ship with talk - can you ask Andrew where it can be found?

[2018-03-01 19:21] kaodro commented on #49
I answered on Slack since there was a one-use link generated for us by Andrew.

[2018-03-01 20:36] cadecairos commented on #49
Thanks @kasia - I was able to get it up and running, and I've disabled the previous plugin that just added new comments to the channel

[2018-03-01 20:36] #49 closed, assigned to nobody

[2018-03-02 10:58] kaodro commented on #45
We can't use the other image cause there is a minor under 13 in it. Can you choose sth else from here: https://www.hivetoronto.org/coding-combat-cyber-bullying/ I clicked through but they are all pretty bad quality. Let me know! @beccaklam

[2018-03-02 15:17] beccaklam commented on #45
@kaodro Done ✅ Seemed like the blog post had a larger file for some reason.

[2018-03-05 18:49] kaodro commented on #45
@beccaklam one more (the screenshot)...
https://drive.google.com/drive/folders/1SggV2jF50sJqLAsgfYrpWcGJK5j9JS48
Thank you!

[2018-03-06 14:57] beccaklam commented on #45
done ✅ @kaodro

[2018-03-15 13:25] kaodro commented on #45
Hi @beccaklam me again. Now we have 3 images from Unsplash and we would like to use them to illustrate the spotlight articles:

For Fake news: https://unsplash.com/photos/5KKglNl852A
For Too big tech: https://unsplash.com/photos/mluSdDeOksc
For IoT: https://unsplash.com/photos/yekGLpc3vro

Could you re-size them, too?

Also, I was wondering whether you are able to process them to look like the ima

[2018-03-15 14:57] beccaklam commented on #45
Hi @kaodro I resized the spotlight photos and put them in the regular folders. Re: Processing the images, I'm not sure what exactly Danny is doing to the photos so it would actually take me more time to figure that out than for Danny just to do it and it would probably be more consistent. It should be fast for him to do if he already has the process set up.

[2018-03-15 15:10] kaodro commented on #45
OK ,sure thing. Thanks, Becca!

[2018-03-19 13:55] kaodro commented on #47
Hi Chris, there will be more files to download. Per language there will be 4:

- a PDF (you created the links already)
- an epub file version of the PDF
- an epub file of a full report
- an odt. file of the fill report

See screenshot attached (ignore the names adn files types there).

Can you create placeholder links for that?

The files names will likely change - is that a problem?

ShortVersion

[2018-03-20 10:38] dhakelila commented on #47
Hi Chris, provide the links that Kasia mentioned as soon as you have them. :)
Thanks!!

[2018-03-20 13:24] cadecairos commented on #47
@kaodro did the filenames need to be translated too? or just english for now?

[2018-03-20 14:32] cadecairos commented on #47
@kaodro I don't have any software that can make epub files - do you have one we can use as a placeholder?

[2018-03-20 14:45] cadecairos commented on #47
nope, we can change them at any time.

[2018-03-20 14:47] cadecairos commented on #47
odt links for the report (same filename as before, new extension. The documents are blank right now):
[https://d20x8vt12bnfa2.cloudfront.net/2018/Internet Health Report 2018.odt](https://d20x8vt12bnfa2.cloudfront.net/2018/Internet%20Health%20Report%202018.odt)
[https://d20x8vt12bnfa2.cloudfront.net/2018/Statusbericht zur Internetgesundheit 2018.odt](https://d20x8vt12bnfa2.cloudfront.net/2018/Statu

[2018-03-20 15:08] kaodro commented on #47
cade, I will give you final names once we have them, probably translated but lets use Short version / Long version for now. @JairusKhan can you help with an epub file?

[2018-03-20 16:32] kaodro commented on #45
Hi @beccaklam

Some more to re-size, I added some images to the spotlight folders:

https://drive.google.com/drive/folders/1Lg9CZzc9_yJZ111cx3AvmBmq7hhmaPKx (2 new images)
https://drive.google.com/drive/folders/1qNSPO1Hfn4n9m518YxyvXL0i6-BuGKSx (1 new image)
https://drive.google.com/drive/folders/124xETLBlTn4ZOmZElKDs-IDgOymTzin5 (1 new image)

On this occasion, could you also re-size the screensh

[2018-03-21 14:57] beccaklam commented on #45
Resized the images ✅
Here is the resized picture for the rural connectivity post, I didn't see a folder for it so here it is:

![rural-connectivity-880x550](https://user-images.githubusercontent.com/20977376/37717327-b0934ea6-2cf6-11e8-8fd5-0eea9e135775.jpg)

[2018-03-29 14:33] cadecairos opened #50 "Comment section CSS needs some fine tuning"
In the comment section, the "characters remaining" text is displaying beneath the post button

![image](https://user-images.githubusercontent.com/438003/38094731-a0abc63e-333c-11e8-80ef-df864c79ba0b.png)

[2018-04-10 16:40] Djfe opened #51 "mobile design - footer and email subscription interfere with eachother"
this happens at least on the German and English version of the website
https://internethealthreport.org/2018/
the e-mail subscription is displayed on-top of the footer for some reason (text over text)
What I see using fennec:
![screenshot_20180410-181207_01](https://user-images.githubusercontent.com/5685512/38570609-8f2c68e4-3cee-11e8-9911-cab85cdf311d.png)

[2018-07-03 16:45] beccaklam commented on #45
This is done and IHR 2018 successfully launched! 🎉

[2018-07-03 16:45] #45 closed, assigned to beccaklam

[2018-08-16 23:47] digitarald opened #52 "Expensive bubble animation"
STR:
- Keep https://internethealthreport.org/2018/ open

AR: Fan starts spinning.

Janky animation for the floating bubbles on my high-end MBP.

Profile: https://perfht.ml/2OD9ZJl shows 180ms per frame spent in JS.

[2018-10-03 20:08] #42 closed, assigned to cadecairos

[2019-02-17 19:02] ghost opened #53 "Wiki changes"
FYI: The following changes were made to this repository's wiki:

- defacing spam has been removed

- Restricting write access to contributors is strongly encouraged.  Please [make that change](https://github.com/mozilla/internet-health-report/settings)  ([documentation](https://help.github.com/articles/changing-access-permissions-for-wikis/)).

These were made as the result of a recent automated d

[2019-03-29 22:03] ghost opened #54 "CODE_OF_CONDUCT.md file missing"
As of January 1 2019, Mozilla requires that all GitHub projects include this [CODE_OF_CONDUCT.md](https://github.com/mozilla/repo-templates/blob/master/templates/CODE_OF_CONDUCT.md) file in the project root. The file has two parts:

1. Required Text - All text under the headings *Community Participation Guidelines and How to Report*, are required, and should not be altered.
2. Optional Text - The

[2019-11-19 12:54] #44 closed, assigned to nobody